snippet cpp "C++ Snippet"
    #include<iostream>
    using namespace std;
    void solve(){
        $0
    }
    int main(){
        int tc = 1;
        $1// cin >> tc;
        for(int t = 1; t <= tc; t++){
            solve();
        }
    }
